.mobileMenu__container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 102px;
  background-color: var(--transparentBlue);
  z-index: 9999;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.6rem;
}

.mobileMenu__item {
  text-align: center;
  width: 80%;
  border-top: 1px solid #4c526c;
  padding: 2rem 0px;
}

.mobileMenu__item a {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.mobileMenu__loginBtn {
  display: block;
  margin-top: 1.6rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 6px;
  padding: 12px 30px;
  transition: all 200ms ease-in-out;
}

.socials {
  position: absolute;
  bottom: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

.socials img {
  height: 32px;
  width: auto;
}

.animate__animated.animate__slideInUp {
  --animate-duration: 200ms;
}
