.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  padding-right: 2vw;
}

.navbar__logo {
  height: 22px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__item a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
}

.navbar__menu :not(:last-child) > a {
  color: #252b46;
  transition: all 100ms ease-in-out;
}

.navbar__menu :not(:last-child) {
  margin-right: 42px;
}

.loginButton {
  border: 2px solid var(--softRed);
  background-color: var(--softRed);
  color: #fff;
  border-radius: 6px;
  padding: 8px 30px;
  transition: all 100ms ease-in-out;
}

.navbar__menu--btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (hover: hover) {
  .navbar__item > a:hover {
    color: var(--softRed);
  }

  .loginButton:hover {
    background-color: #fff;
  }
}
