.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px 7.5vw;
}

.navbar__logo {
  height: 22px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__item {
  list-style-type: none;
}

.navbar__item a {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.navbar__menu :not(:last-child) > a {
  color: #252b46;
  transition: all 100ms ease-in-out;
}

.navbar__menu :not(:last-child) {
  margin-right: 42px;
}

.loginButton {
  border: 2px solid #fa5757;
  background-color: #fa5757;
  color: #fff;
  border-radius: 6px;
  padding: 8px 30px;
  transition: all 100ms ease-in-out;
}

.navbar__item > a:hover {
  color: #fa5757;
}

.loginButton:hover {
  background-color: #fff;
}

.bg-blue {
  background-color: #252b46de;
  animation: 200ms 1 normal fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*///BREAKPOINTS///*/

@media (min-width: 1441px) {
  .navbar {
    padding: 40px 105px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 375px) {
  .navbar {
    padding-left: 26px;
    padding-right: 26px;
  }
}
/*^^^^^^^^^^^^^^^^^^^^^^^*/
