.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px 9vw;
}

.navbar__logo {
  height: 22px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__item {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
}

.navbar__menu :not(:last-child) > a {
  color: #252b46;
  transition: all 100ms ease-in-out;
}

.navbar__menu :not(:last-child) {
  margin-right: 42px;
}

.loginButton {
  border: 2px solid #fa5757;
  background-color: #fa5757;
  color: #fff;
  border-radius: 6px;
  padding: 8px 30px;
  transition: all 100ms ease-in-out;
}

.navbar__item > a:hover {
  color: #fa5757;
}

.loginButton:hover {
  background-color: #fff;
}

.bg-blue {
  background-color: #252b46;
  opacity: 0.9;
  animation: 200ms 1 normal fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

/*///BREAKPOINTS///*/

@media (min-width: 1441px) {
  .navbar {
    padding: 40px 130px;
  }
}
/*^^^^^^^^^^^^^^^^^^^^^^^*/
