@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Rubik:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-size: 62.5%;

  --grey: #9194a1;
  --darkBlue: #252b46;
  --softPurple: #5368df;
  --softRed: #fa5757;
  --transparentBlue: #252b46f7;
}

body,
button {
  font-family: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL STYLES */

.wrapper {
  overflow-x: hidden;
}

.container {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto;
}

h1,
h2,
h3,
button {
  font-weight: 500;
}

.text {
  color: var(--grey);
  font-weight: 400;
  line-height: 2.4rem;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
}

.heading {
  color: var(--darkBlue);
  font-size: clamp(3.6rem, 3.8vw, 5rem);
}

.sub-heading {
  color: var(--darkBlue);
  font-size: 2.8rem;
}

.bg-blue {
  background-color: var(--transparentBlue);
}
/* -------------------- */
